# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = lianjia.settings

[deploy]
url = http://172.81.251.192:6800/
project = lianjia
